<nav class="navbar navbar-expand-lg navbar-dark purblue sticky-top">
    <a class="navbar-brand" href="{{url_for('index')}}"></a>
    <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu"
        aria-expanded="false" aria-label="Toggle digipodum nav"><i class="fas fa-bars    "></i></button>
    <div class="collapse navbar-collapse" id="mainmenu">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mx-auto ">
        <li class="nav-item ">
          <a class="nav-link text-uppercase" href="{{url_for('index')}}"><i class="fas fa-home "></i> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" href="#"><i class="fas fa-arrow-circle-down    "></i> some option</a>
        </li>
        {% if current_user.is_anonymous %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-uppercase" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle    "></i> Account</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <a class="dropdown-item" href="/login">Login</a>
            <a class="dropdown-item" href="/register">Create free account</a>
          </div>
        </li>
        {% else %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-uppercase" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{ current_user.avatar(24) }}" class="rounded-circle">  {{current_user.username}}
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <a class="dropdown-item" href="{{url_for('user',username=current_user.username)}}">Profile</a>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>