{% extends 'base.html' %}

{% block css %}
<style>
    body{
        background-color: rgb(0, 0, 0);
    }
</style>
{% endblock %}


{% block body %}

<div class="container">
    <div class="row justify-items-center">
        <div class="col-md-6 mt-5">
            {% include "notify.html" %}
            <div class="card">
               <div class="col-md-4 p-4">
                <img class="card-img rounded-circle"  src="{{user.avatar(128)}}" alt="{{user.username}}">
               </div>
                <div class="card-body">
                    <h4 class="card-title">{{user.username}}</h4>
                    {% if user.about_me %}<p class="card-text">{{ user.about_me }}</p>{% endif %}
                    {% if user.last_seen %}<p class="lead">Last seen on: {{ user.last_seen }}</p>{% endif %}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="{{ url_for('edit_profile') }}">Edit your profile <i class="fas fa-arrow-right    "></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}